/* This is for the background colors*/
body
        {   background-color: rgb(15, 18, 206);
            background-image: radial-gradient(closest-side at 50% 55%, #ffffff, #bb5ebb, #01d1d1 100%);
            background-repeat: no-repeat;}
       /* This is for the picture*/
        img
        {   display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;}
       /*This is for the start countdown button and stop button */
        button
        {border-radius: 80%;
        background-color: rgb(136, 235, 152);
        }
        h1
        {text-align: center;}
        p
        {text-align: center;
            color: rgb(70, 71, 71);}
       